<%- layout('layouts/boilerplate')  %> 
<div class="jumbotron cover-image" style="background-image: url('/images/favicon.png');">
    <div class="container">
        <div class="user-container">
            <img src="/images/favicon.png" alt="" class="user-profile-img">
            <div class="user-profile-text my-5">
                <h3><%= user.username.toUpperCase() %> </h3>
            </div>
        </div>
    </div>
</div>
<!-- arts -->
<section class="container">
    <div class="row my-5">
        <div class="col-md-8">
            <p class="display-5">Paintings by <%= user.usernames %></p>
            <div class="row">
                <% arts.forEach(art => { %>
                    <div class="col-sm-4">
                        <a href="/arts/<%= art._id %>">
                            <img src="<%= art.imageURL.url %> " alt="" class="img-fluid">
                        </a>
                        <!-- <p><%= art.title %> </p> -->
                    </div>
                <% }) %>
            </div>

        </div>
        <div class="col-md-4">
            <h5>My Bio</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officia est hic illo ipsam natus voluptas voluptatem accusamus beatae perferendis reprehenderit tempora facere omnis cupiditate rem dignissimos, deleniti a quidem!</p>
        </div>
    </div>
</section>