<%- layout('layouts/boilerplate')  %> 
<section class="art__container container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="img__container text-center">
                <img class='img-fluid'src="<%= art.imageURL.url %>" alt="">
            </div>
            <div class="row mt-3">
                <div class="col-8">
                    <h5><%= art.title %></h5>
                    <p>Created by: <a href="/users/<%= art.user._id %>"><%= art.user.username %></a></p>
                    <p><%= art.description %></p>
                </div>
                <div class="col-4">published: <%= art.createdAt %></div>
                <div class="col-12">
                    <h5>tags: <% art.meta.tags.forEach((tag)=> {%>
                    <a href="/arts?q=<%= tag %>"><span><%= tag %></span></a>
                    <% })%> 
                    </h5>
                </div>
                <!-- sugnedUser is the currentUser check if there is a signed user and if the user is the owner-->
                <% if(signedUser && art.user.equals(signedUser._id))  {%> 
                <div class="col-12 d-inline">
                    <a href="/notdeviantart/arts/<%= art._id %>/edit" class="btn btn-success">Edit</a>
                    <form action="/arts/<%= art._id %>?_method=DELETE" class="d-inline" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <%   } %>
            </div>
            
            <% if(!signedUser) { %> 
                <h5>Please Log in to comment</h5>
            <% } else { %>
                <form action="/notdeviantart/arts/<%= art._id %>/comments" method="POST">
                    <div class="form-group">
                        <label class='form-label' for="comment">Comment:</label>
                        <br>
                        <textarea name="comment" id="comment" cols="30" class="form-control" rows="4"></textarea>
                        <button class="mt-3 btn btn-success">Comment</button>
                    </div>
                </form>
              
            <% }    %>  
            <p>Comments</p>
            <div class="row comments">
                <% comments.forEach(comment => { %>
                    <div class="comment-body col-12">
                        <div class="comment-body-user">
                            <p><img src="<%= comment.user.Bio.profileImage.url %>" style="width: 30px; height: 30px;" alt=""><%= comment.user.username %></p>
                        </div>
                        <div class="comment-body-text">
                            <p><%= comment.text %></p>
                        </div>
                    </div>
                    <hr>
                <% }) %>
            </div>

        </div>
        <div class="col-md-4 text-center">
            <h5><a href="/users/<%= art.user._id %>">See More by <%= art.user.username %></a></h5>
            <div class="grid">
                <% arts.forEach(art => { %>
                    <div class="grid-item-show">
                        <a href="/notdeviantart/arts/<%= art._id %>"><img src="<%= art.imageURL.url %>" alt="" class="img-fluid"></a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>