<%- layout('layouts/boilerplate')  %> 
<div class="container art-form" id="art-form">
    <div class="row">
        <div class="col-md-6 offset-2 mt-3">
            <!-- <form action="/arts" method="POST"> -->
            <form action="/arts/<%= art._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">title</label>
                    <input type="text" name="title" class="form-control" value="<%= art.title %> ">
                </div>
                <!-- <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div> -->
                <div class="custom-file mt-3">
                    <input type="file" name="art" class="custom-file-input form-conrol">
                    <label class="custom-file-label" for="art">file</label>
                </div>
                <div class="form-group mt-3">
                    <label for="description">Description:</label>
                    <br>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-cotrol"><%= art.description %> </textarea>
                </div>
                <div class="form-group mt-3">
                    <label for="tags">Tags:</label>
                    <input type="text" name="tags" id="tags"  class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success my-4 px-3">Update</button>
                <p></p>
            </form>
        </div>
    </div>
</div>

<script>
    let tagInput = document.querySelector('#tags');
        tagify = new Tagify(tagInput);
        tagify.addTags(['<%= art.meta.tags %>'])    
        tagInput.addEventListener('change', onChange)
        function onChange(e){
            // outputs a string
            // [{"value":"landscape"}, {"value", "anime"}]
            console.log(e.target.value)
        }
</script>